<!DOCTYPE html>
<html>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WGDKR6L');</script>
    <!-- End Google Tag Manager -->
<meta charset="UTF-8">
<meta name="description" content="Kygo Pool is a crypto mining pool that is on a mission to reduce crypto miners carbon footprint. Join Kygo Pool today and help make a difference.">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.8, height=device-height"/>
<meta name="theme-color" content="#001432"/>
<link rel="canonical" href="/" />
<title>KYGO POOL - Eco Friendly Crypto Mining Pool</title>

<link rel="shortcut icon" href="favicon.png">
<meta property="og:image" content="/img/logo.png"/>

<link href="/inner/css/style.css" rel="stylesheet">
<script src="/inner/js/lazyload.min.js"></script>


<link href="/css/style.css" rel="stylesheet">
<link href="/css/highcharts.css" rel="stylesheet"> 
<link href="../unpkg.com/aos%402.3.1/dist/aos.css" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&amp;display=swap" rel="stylesheet">

<script src="../code.jquery.com/jquery-1.8.3.min.js"></script> 
<script src="/js/lazyload.min.js"></script>



<script src="../code.highcharts.com/highcharts.html"></script>
<script src="../code.highcharts.com/modules/exporting.html"></script>
<script src="../code.highcharts.com/modules/accessibility.html"></script>
<script src="../cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/charts-theme.js"></script>


<script type="text/javascript">
	function downloadJSAtOnload() {
		var element = document.createElement("script");
		element.src = "";
		document.body.appendChild(element);
	}

</script>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-9FWS3HLJYJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9FWS3HLJYJ');
</script>


<style>
	.orangeborder {
		border: 2px solid orange !important;
	}
	.orangecolor {
		color: orange !important;
	}
	.orangebg {
		background-color: orange !important;
	}
	.greencolor {
		color: rgba(20, 200, 150, 1.00) !important;
	}
</style>

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGDKR6L"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    <svg style="height: 0">
        <defs>
            <linearGradient id="gradient-0" x1="0" y1="0" x2="0" y2="1">
                <stop offset="0" />
                <stop offset="1" />
            </linearGradient>
            <linearGradient id="gradient-1" x1="0" y1="0" x2="0" y2="1">
                <stop offset="0" />
                <stop offset="1" />
            </linearGradient>

            <linearGradient id="gradient-2" x1="0" y1="0" x2="0" y2="1">
                <stop offset="0" />
                <stop offset="1" />
            </linearGradient>

            <linearGradient id="gradient-3" x1="0" y1="0" x2="0" y2="1">
                <stop offset="0" />
                <stop offset="1" />
            </linearGradient>
        </defs>
    </svg>

	<input id="LOGIN" type="checkbox" class="hi"> 

	<label for="LOGIN" class="modal-wm"></label>
	<div class="modal-c small">
	  <div class="title-c">
	    Login
	  </div>

	  <div class="">
            <form  id="contact-login" method="post" class="">
                <p>
                    Insert your Email and Password 
                </p>	
                <p class="alert-c" style="display: none;">
                    <span class="icon alert"></span>
                    Incorrect username or Password.
                </p>
                <div class="c-100-f"><input type="email" name="email" id="email" placeholder="Email" required="required"></div>
                <div class="hs-20"></div>
                <div class="c-100-f"><input type="password" name="password" id="password" placeholder="Password" required="required"></div>
                <div class="hs-20"></div>
                <input type="hidden" name="recaptcha_response" value="">
                <div class="c-100-f"><button type="" name="" class="g-btn go-c big">Login</button></div>
            </form>
		</div>
		<div class="ctrls-c">
	    <label for="LOGIN" class="g-btn">Close</label>
	  </div>
	</div>



	<nav>
		<input id="MainBtn" type="checkbox" class="hi">
		<label for="MainBtn">
			<span></span>
		</label>
		<div class="mc">
			<a href="/">
				<img src="/img/logo.png" alt="Kygo Pool" class="lazyload logo-anime">
				<!-- <picture>
		            <source srcset="/img/logo.png" type="image/webp">
		            <source srcset="/img/logo.png" type="image/png">
		            <img data-src="/img/logo.png" alt="Kygo Pool" class="lazyload logo">
		        </picture> -->
			</a>
			<div class="nav-l-c">
				<a href="/login" class="nav-hl outline">Login</a>
				<a href="/register" class="nav-hl">Sign Up</a>
			</div>
		</div>
	</nav>