<style>
    .cal-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }
    @media (max-width:540px) {
        .cal-div {
            width: 100%;
        }
    }
</style>

<div class="cal-div">
    <!-- CryptoRival Calculator Widget BEGIN -->
<script type="text/javascript" src="https://static.cryptorival.com/js/calcwidget.js"></script>
<a id="cr-copyright" href="https://cryptorival.com/" target="_blank" rel="nofollow"></a>
<script type="text/javascript">
showCalc('bitcoin', '300', false, '0', 'ff7f24', 'ff7f24', 'ff7f24', '4e9f15', '09c', 'f0ad4e', 'd9534f', '417bee', 'eee');
</script>
<!-- CryptoRival Calculator Widget END -->
</div>