
<%- partial('./partials/header')%>

	<section id="CONTACT">
		<div class="mc">
			<div class="c-100 a-c">
				<div class="hs-40"></div>
				<h1 data-aos-offset="-500" data-aos="fade-up" data-aos-delay="500" data-aos-duration="500" class="txt-grad">Get in Touch</h1>
				<div class="hs-20"></div>
				<h2 data-aos-offset="-500" data-aos="fade-up" data-aos-delay="550" data-aos-duration="500">The Future of <strong>Green Crypto Mining</strong></h2>
				<div class="hs-40"></div>
				<p data-aos-offset="-500" data-aos="fade" data-aos-delay="550" data-aos-duration="500">
					Let us know how we can help!
				</p>
               
				<form form="" id="contact-form" method="post" class="c-100-f">
                    <p id="contact-form-error" class="alert-c" style="display: none;">
                        <span class="icon alert"></span>
                        There was a error! Please refresh and try again.
                    </p>
                    <p id="contact-form-success" class="alert-c positive" style="display: none;">
                        <span class="icon positive"></span>
                        Your message has been sent, we will contact you as soon possible.
                    </p>
					<div class="hs-40"></div>
					<div class="c-100-f"><input type="text" name="name" placeholder="Name" required=""></div>
					<div class="hs-20"></div>
					<div class="c-100-f"><input type="email" name="email" placeholder="Email" required=""></div>
					<div class="hs-20"></div>
					<div class="c-100-f"><input type="text" name="subject" placeholder="Subject" required=""></div>
					<div class="hs-20"></div>
					<div class="c-100-f"><textarea name="meassage" placeholder="Message" required=""></textarea></div>
					<div class="hs-20"></div>
                    <input type="hidden" name="recaptcha_response" value="">
					<div class="c-100-f"><button type="" name="" class="g-btn go-c big">Submit</button></div>
				</form>
			</div>

			
			
		</div>

		<div class="show-room-c">

			<picture>
	          <source srcset="../img/wall-04.webp" type="image/webp">
	          <source srcset="../img/wall-04.png" type="image/png">
	          <img data-src="../img/wall-04.png" alt="Kygo Pool" class="lazyload wall04" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
	        </picture>
	        <picture>
	          <source srcset="../img/wall-03.webp" type="image/webp">
	          <source srcset="../img/wall-03.png" type="image/png">
	          <img data-src="../img/wall-03.png" alt="Kygo Pool" class="lazyload wall03" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000">
	        </picture>
	        
		        <video autoplay loop muted playsinline class="stripes02" data-aos="fade"  data-aos-delay="3000" data-aos-duration="1000">
				  <source src="../media/green-stripes-01.webm" type="video/webm">
				  <source src="../media/green-stripes-01.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
	        
	        <picture>
	          <source srcset="../img/wall-02.webp" type="image/webp">
	          <source srcset="../img/wall-02.png" type="image/png">
	          <img data-src="../img/wall-02.png" alt="Kygo Pool" class="lazyload wall02" data-aos="fade-up" data-aos-delay="2000" data-aos-duration="1000">
	        </picture>

		        <video autoplay loop muted playsinline class="stripes01" data-aos="fade"  data-aos-delay="3000" data-aos-duration="1000">
				  <source src="../media/green-stripes-01.webm" type="video/webm">
				  <source src="../media/green-stripes-01.mp4" type="video/mp4">
				  Your browser does not support the video tag.
				</video>
	        
	        <picture>
	          <source srcset="../img/wall-01.webp" type="image/webp">
	          <source srcset="../img/wall-01.png" type="image/png">
	          <img data-src="../img/wall-01.png" alt="Kygo Pool" class="lazyload wall01" data-aos="fade-up" data-aos-delay="2500" data-aos-duration="1000">
	        </picture>

		</div>

	</section>

	<div id="GLOWS">
		<div class="mc"></div>
	</div>

	<div class="hs-100"></div>

  

	<div class="hs-100"></div>

	<%- partial('./partials/footer')%>