
<%- partial('./partials/header')%>
	

	<section id="LANDING">
		<div class="mc">

			<div class="cta-c">

				<h1 data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">Eco-friendly crypto mining pool</h1>
				<div class="hs-20"></div>
				<h2 data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">We plant trees to help reduce your crypto mining carbon footprint</h2>
				<div class="rank-c" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000">
					<div class="rank-badge">
						<div class="badge">
							<div id="rank_badge" class="ic">13<span>th</span></div>
						</div>
					</div>
					<div class="stripe-front"></div>
					<div class="stripe-back"></div>
					<div class="txt">We are the <strong id="rank-btc">13</strong><sup>th</sup> largest crypto mining pool in the world, ranked by BTC.com</div>
				</div>
			</div>

			<picture>
		        <source srcset="/img/black-tree.webp" type="image/webp">
		        <source srcset="/img/black-tree.png" type="image/png">
		        <img data-src="/img/black-tree.png" alt="Kygo Pool" class="lazyload black-tree">
	    	</picture>

			<div class="show-room-c su-form">

				<picture>
			        <source srcset="/img/wall-04.webp" type="image/webp">
			        <source srcset="/img/wall-04.png" type="image/png">
			        <img data-src="/img/wall-04.png" alt="Kygo Pool" class="lazyload wall04" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000">
		        </picture>

		        <picture>
		            <source srcset="/img/wall-03.webp" type="image/webp">
		            <source srcset="/img/wall-03.png" type="image/png">
		            <img data-src="/img/wall-03.png" alt="Kygo Pool" class="lazyload wall03" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
		        </picture>

		        <picture>
		            <source srcset="/img/wall-02.webp" type="image/webp">
		            <source srcset="/img/wall-02.png" type="image/png">
		            <img data-src="/img/wall-02.png" alt="Kygo Pool" class="lazyload wall02" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
		        </picture>

		        <picture>
		            <source srcset="/img/wall-01.webp" type="image/webp">
		            <source srcset="/img/wall-01.png" type="image/png">
		            <img data-src="/img/wall-01.png" alt="Kygo Pool" class="lazyload wall01" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500">
		        </picture>

		        <!-- STRIPES -->

		        <img src="/img/green-stripes-01.gif" class="stripesgif01" data-aos="fade"  data-aos-delay="3000" data-aos-duration="900">
		        <img src="/img/green-stripes-01.gif" class="stripesgif02" data-aos="fade"  data-aos-delay="3000" data-aos-duration="700">

				<!-- TREES -->

	        	<div class="tree01-c">
					<picture>
			          	<source srcset="/img/tree01.webp" type="image/webp">
			          	<source srcset="/img/tree01.png" type="image/png">
			          	<img data-src="/img/tree01.png" alt="Kygo Pool"class="lazyload tree01" data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1500">
			        </picture>
				</div>

				<div class="tree02-c">
					<picture>
			          	<source srcset="/img/tree02.webp" type="image/webp">
			          	<source srcset="/img/tree02.png" type="image/png">
			          	<img data-src="/img/tree02.png" alt="Kygo Pool"class="lazyload tree02" data-aos="fade-up" data-aos-delay="1800" data-aos-duration="1500">
			        </picture>
				</div>

				<div class="tree03-c">
					<picture>
			          <source srcset="/img/tree03.webp" type="image/webp">
			          <source srcset="/img/tree03.png" type="image/png">
			          <img data-src="/img/tree03.png" alt="Kygo Pool"class="lazyload tree03" data-aos="fade-up" data-aos-delay="2400" data-aos-duration="1500">
		        	</picture>
		      	</div>

		      	<div class="tree04-c">
					<picture>
			          <source srcset="/img/tree04.webp" type="image/webp">
			          <source srcset="/img/tree04.png" type="image/png">
			          <img data-src="/img/tree04.png" alt="Kygo Pool"class="lazyload tree04" data-aos="fade-up" data-aos-delay="2800" data-aos-duration="1500">
		        	</picture>
				</div>

				<!-- BTC -->

				<div class="btc-c">
					<picture>
			        	<source srcset="/img/btc.webp" type="image/webp">
			        	<source srcset="/img/btc.png" type="image/png">
			        	<img data-src="/img/btc.png" alt="Kygo Pool" class="lazyload btc" data-aos="fade-up" data-aos-delay="3000" data-aos-duration="1500">
		        	</picture>
				</div>

			</div>

		<!-- BTC -->

		<div class="signup-form-c">
			<div class="ic">
				<div class="glow-c"></div>
				<form id="ml-signup-form" method="POST">
					<div class="title-c">EARLY ACCESS</div>
					<input type="hidden" name="recaptcha_response" value="">
					
					
					<p class="info-c hl02">
						Early access clients will benefit from a <strong>permanent 50% reduction in pool fees</strong>.
					</p>
					<div class="hs-20"></div>
          			<p class="alert-c positive" style="display:none; margin-bottom:20px;">
						<span class="icon positive"></span>
						Thank you for joining the waiting list, please look out for emails from Kygo Pool.
					</p>

                    <p class="alert-c error" id="submit-error" style=" display:none;margin-bottom:20px;">
						<span class="icon alert"></span>
                        There was a error submiting your request, refresh and try again.
					</p>
                    
                    <div id="error-input">
                        
                    </div>
                    <div class="c-100-f"><input type="text" name="name" placeholder="Name" id="ml_name" required="required"></div>
                    <div class="hs-20"></div>
					<div class="c-100-f"><input type="email" name="email" placeholder="Email" id="ml_email" required="required"></div>
					<div class="hs-20"></div>
				
					<div class="c-100-f"><button type="submit" id="ml-signup" class="g-btn big">Join Waiting List</button></div>
                    <div class="info-c ribbon-c">
						<span class="ribbon-l"></span><span id="sign-up-total" class="value-c">3,804</span> users on the waiting list so far<br /><strong>Limited Spaces Available</strong><span class="ribbon-r"></span>
					</div>
				</form>
			</div>
		</div>

		<picture>
	        <source srcset="/img/green-tree.webp" type="image/webp">
	        <source srcset="/img/green-tree.png" type="image/png">
	        <img data-src="/img/green-tree.png" alt="Kygo Pool" class="lazyload green-tree">
    	</picture>

    	<div class="hs-40"></div>
    	<div class="hs-20 hidde-desk"></div>

    	<div class="stats-bg"></div>
		<div class="stats-c pool">
			<div class="mc">

				<div class="title bg-blur">Live <strong class="txt-hl">Kygo</strong> Pool Statistics</div>
				
				<div class="ic">

					<div class="stats-item">
						<img src="/img/anime-hashrate.gif" class="lazyload">
						<span class="title">Pool Hashrate</span>
						<br>
						<span class="value-c"><span id="pool-hashrate" class="value">2.32</span> <span>EH/s</span></span>
					</div>
					<div class="stats-item">
						<img src="/img/anime-blocks-mined.gif" class="lazyload">
						<span class="title">Blocks Mined</span>
						<br>
						<span class="value-c"><span id="blocks_mined" class="value">102</span> </span>
					</div>
					<div class="stats-item">
						<img src="/img/anime-mined-in-total.gif" class="lazyload">
						<span class="title">Total Mined</span>
						<br>
						<span class="value-c"><span id="blocks_mined_btc" class="value">783.00</span> <span>BTC</span></span>
					</div>
					<div class="stats-item">
						<img src="/img/anime-daily-reveue.gif" class="lazyload">
						<span class="title">Daily Revenue</span>
						<br>
						<span class="value-c"><span   class="value" id="daily_revenue">$0.0607</span> <span>/TH</span></span>
					</div>
					<div class="stats-item">
						<img src="/img/anime-withdrawals.gif" class="lazyload">
						<span class="title">PPS+ Pool Fees</span>
						<br>
						<span class="value-c"><span class="value">1<small>%</small> <span>&#8652;</span> 2<small>%</small></span> </span> 
					</div>
					
				</div>

			</div>
		</div>

        
					


		<div class="hs-20"></div>

        <!-- <div class="c-100-f">
        	<input id="BETALERT" type="checkbox" class="hi" checked>
            <div class="alert-c beta">
            	<div class="ic">
	                <strong>PRIVATE BETA TESTING</strong>
	                <div class="hs-00"></div>
	                <span>
	                	Kygo Pool will be launching to the public in Q1 of 2023. For now, we’re still in our private BETA testing phase.<br /> Register while you still can and qualify for 0% pool fees during the BETA phase, followed by 50% off pool fees FOR LIFE post-launch. <br />We look forward to welcoming you on board soon.
	                </span>

                </div>
            	<label for="BETALERT" class="btn-close"></label>
            </div>
        </div>  -->

		<div class="british-owned">
			<div class="img-c">
				<img src="/img/anime-flag-uk.gif" class="lazyload">
			</div>
			<div class="txt-c">
				<div class="title">Proudly Owned & Operated in the United Kingdom</div>
				<div class="txt">When you choose our <strong>ecological crypto mining pool</strong>, you choose peace of mind, full transparency, and meticulous international standards. While our highly skilled developers and Crypto connoisseurs are scattered all around the world, our roots always have been – and always will be – planted right here on British soil. <strong>Our vision is to make Kygo Pool the most rusted and revered eco-friendly Crypto mining pool on the planet.</strong> If you believe in our vision as much as we do, join our waiting list now!</div>
			</div>
		</div>

	</div>

	<div class="hs-60"></div>



	<section id="COINS">
		<div class="mc">
			<div class="coins-c">
				<input id="COIN01" type="checkbox" class="hi" s="">
				<div class="coin-c">
					<div class="mh">
						<div>Mining Pool</div>
						<div>Pool Hashrate</div>
						<div>Hashrate</div>
						<div>Price</div>
						<div>Daily Revenue</div>
						<div>Algo</div>
					</div>
					<label for="COIN01" class="h-coin c01">
						<div><div class="arrow"></div> <img src="./img/btc-ico.png"> <span>Bitcoin</span> <small>(BTC)</small></div>
						<div><span id="bitcoin-pool-hash">2.32</span> <small>EH/S</small></div>
						<div><span id="bitcoin-global-hash">258.42</span> <small>EH/S</small></div>
						<div><small>$</small> <span id="bitcoin-usd">16,776.27</span> <span class="arrow-up"></span></div>
						<div><small>$</small> <span id="bitcoin-rev-th_usd">0.0607</span> <small>/TH</small></div>
						<div>SHA256d</div>
					</label>
					<div class="coin-info">
						<div class="c-50">
							<div class="title">BTC Hashrate vs BTC Price</div>
                            <div id="btc-chart" data-highcharts-chart="0" aria-hidden="false" role="region" aria-label="Chart. Highcharts interactive chart." style="overflow: hidden;"><div id="highcharts-screen-reader-region-before-0" aria-hidden="false" style="position: relative;"><div class="highcharts-visually-hidden" aria-hidden="false"><p>Chart</p><div>Chart with 2 data series.</div><div>The chart has 1 X axis displaying Time. Data ranges from 2022-09-22 00:00:00 to 2022-12-21 00:00:00.</div><div>The chart has 2 Y axes displaying values and values.</div></div></div><div aria-hidden="false" class="highcharts-announcer-container" style="position: relative;"><div aria-hidden="false" aria-live="polite" class="highcharts-visually-hidden"></div><div aria-hidden="false" aria-live="assertive" class="highcharts-visually-hidden"></div><div aria-hidden="false" aria-live="polite" class="highcharts-visually-hidden"></div></div><div id="highcharts-rjpuklr-0" dir="ltr" class="highcharts-container " aria-hidden="false" tabindex="0"><div aria-hidden="false" class="highcharts-a11y-proxy-container-before" style="top: 0px; left: 0px;"></div><svg version="1.1" class="highcharts-root" xmlns="http://www.w3.org/2000/svg" width="550" height="400" viewBox="0 0 550 400" aria-hidden="false" aria-label="Interactive chart"><desc aria-hidden="true">Created with Highcharts 10.3.2</desc><defs aria-hidden="true"><filter id="glow" opacity="0.5"><feGaussianBlur result="coloredBlur" stdDeviation="2.5"></feGaussianBlur><feMerge><feMergeNode in="coloredBlur"></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter><clipPath id="highcharts-rjpuklr-1-"><rect x="0" y="0" width="550" height="400"></rect></clipPath><clipPath id="highcharts-rjpuklr-91-"><rect x="0" y="0" width="550" height="400"></rect></clipPath><clipPath id="highcharts-rjpuklr-189-"><rect x="0" y="0" width="550" height="400"></rect></clipPath><filter id="drop-shadow-0" opacity="0.5"><feGaussianBlur in="SourceAlpha" stdDeviation="1"></feGaussianBlur><feOffset dx="1" dy="1"></feOffset><feComponentTransfer><feFuncA type="linear" slope="0.3"></feFuncA></feComponentTransfer><feMerge><feMergeNode></feMergeNode><feMergeNode in="SourceGraphic"></feMergeNode></feMerge></filter></defs><rect class="highcharts-background" x="0.5" y="0.5" width="548" height="398" rx="0" ry="0" aria-hidden="true"></rect><rect class="highcharts-plot-background" x="0" y="0" width="550" height="400" aria-hidden="true"></rect><g class="highcharts-grid highcharts-xaxis-grid" data-z-index="1" aria-hidden="true"><path data-z-index="1" class="highcharts-grid-line" d="M 70.5 0 L 70.5 400" opacity="1"></path><path data-z-index="1" class="highcharts-grid-line" d="M 154.5 0 L 154.5 400" opacity="1"></path><path data-z-index="1" class="highcharts-grid-line" d="M 238.5 0 L 238.5 400" opacity="1"></path><path data-z-index="1" class="highcharts-grid-line" d="M 322.5 0 L 322.5 400" opacity="1"></path><path data-z-index="1" class="highcharts-grid-line" d="M 406.5 0 L 406.5 400" opacity="1"></path><path data-z-index="1" class="highcharts-grid-line" d="M 490.5 0 L 490.5 400" opacity="1"></path></g><rect class="highcharts-plot-border" data-z-index="1" x="-0.5" y="-0.5" width="551" height="401" aria-hidden="true"></rect><g class="highcharts-axis highcharts-xaxis" data-z-index="2" aria-hidden="true"><path class="highcharts-axis-line" d="M 0 400.5 L 550 400.5"></path></g><path class="highcharts-crosshair highcharts-crosshair-thin crosshair-custom-style" data-z-index="2" d="M 10.5 0 L 10.5 400" visibility="hidden"></path><g class="highcharts-series-group" data-z-index="3" aria-hidden="false"><g class="highcharts-series highcharts-series-0 highcharts-area-series highcharts-color-0" data-z-index="0.1" transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-rjpuklr-91-)" aria-hidden="false"><path d="M 11.383442265795 95.66430194995002 L 17.374727668845 93.54032399746 L 23.366013071895 100.82253412029002 L 29.357298474946 102.94651207278002 L 35.348583877996 96.87800363708999 L 41.339869281046 103.85678833814 L 47.331154684096 102.01429778514 L 53.322440087146 98.39016002595002 L 59.313725490196 89.16952899241 L 65.305010893246 79.72328318612 L 71.296296296296 77.70705162638001 L 77.287581699346 77.49191993509999 L 83.278867102397 68.23238357704003 L 89.270152505447 60.89314842101999 L 95.261437908497 56.142089204499996 L 101.25272331155 55.54820680243 L 107.2440087146 57.32985400862998 L 113.23529411765 57.03291280758998 L 119.2265795207 49.09280224526998 L 125.21786492375 44.55614521299998 L 131.2091503268 50.32648613459003 L 137.20043572985 49.322656777220004 L 143.1917211329 47.49871453028999 L 149.18300653595 48.21127779577 L 155.174291939 46.57332206029997 L 161.16557734205 49.66460102056999 L 167.1568627451 54.72237867668002 L 173.14814814815 50.001786197650006 L 179.1394335512 49.32741584349998 L 185.13071895425 49.32741584349998 L 191.1220043573 54.72237867668002 L 197.11328976035 50.99014571676997 L 203.1045751634 54.133409373170025 L 209.09586056645 59.46215617668997 L 215.0871459695 56.31572453082998 L 221.07843137255 58.121845484979985 L 227.0697167756 55.26620699199998 L 233.06100217865 51.24739588750998 L 239.0522875817 56.44856462450002 L 245.04357298475 43.543586848969994 L 251.0348583878 35.870356820279994 L 257.02614379085 47.380201863319996 L 263.0174291939 37.26548955277002 L 269.00871459695 47.728985046440016 L 275 44.93871958146002 L 280.99128540305 44.24115321521998 L 286.9825708061 54.449797135860024 L 292.97385620915 47.936330378360026 L 298.9651416122 38.62285710000998 L 304.95642701525 44.65445229964001 L 310.9477124183 43.00377220441999 L 316.93899782135 37.53943815511002 L 322.9302832244 40.419460491960024 L 328.92156862745 47.73555786106999 L 334.9128540305 50.52025700841 L 340.90413943355 50.17216961499997 L 346.8954248366 53.30495615576001 L 352.88671023965 51.564519188669976 L 358.8779956427 58.52626705703 L 364.86928104575 51.54847311852001 L 370.8605664488 49.22995508590998 L 376.85185185185 59.099844512979985 L 382.8431372549 61.98124262144 L 388.83442265795 64.88403549010002 L 394.825708061 70.23413749278001 L 400.81699346405 83.26712270422001 L 406.8082788671 87.56583093990997 L 412.79956427015 84.06712803890002 L 418.7908496732 82.31777658840002 L 424.78213507625 83.36738745870002 L 430.7734204793 74.97050049628001 L 436.76470588235 74.27075991608001 L 442.7559912854 66.57361353386 L 448.74727668845 65.17413237344999 L 454.7385620915 62.72504034274999 L 460.72984749455 64.50288948545 L 466.7211328976 57.01456423599001 L 472.71241830065 56.395526631170014 L 478.7037037037 50.84382078289002 L 484.69498910675 46.74284335797 L 490.6862745098 48.060425154330005 L 496.67755991285 52.77421532579001 L 502.6688453159 43.32867551330003 L 508.66013071895 51.11059532028003 L 514.651416122 60.18950176176003 L 520.64270152505 67.3229282515 L 526.6339869281 72.51087478949 L 532.62527233115 73.15936810673003 L 538.6165577342 74.96259168724998 L 538.6165577342 400 L 532.62527233115 400 L 526.6339869281 400 L 520.64270152505 400 L 514.651416122 400 L 508.66013071895 400 L 502.6688453159 400 L 496.67755991285 400 L 490.6862745098 400 L 484.69498910675 400 L 478.7037037037 400 L 472.71241830065 400 L 466.7211328976 400 L 460.72984749455 400 L 454.7385620915 400 L 448.74727668845 400 L 442.7559912854 400 L 436.76470588235 400 L 430.7734204793 400 L 424.78213507625 400 L 418.7908496732 400 L 412.79956427015 400 L 406.8082788671 400 L 400.81699346405 400 L 394.825708061 400 L 388.83442265795 400 L 382.8431372549 400 L 376.85185185185 400 L 370.8605664488 400 L 364.86928104575 400 L 358.8779956427 400 L 352.88671023965 400 L 346.8954248366 400 L 340.90413943355 400 L 334.9128540305 400 L 328.92156862745 400 L 322.9302832244 400 L 316.93899782135 400 L 310.9477124183 400 L 304.95642701525 400 L 298.9651416122 400 L 292.97385620915 400 L 286.9825708061 400 L 280.99128540305 400 L 275 400 L 269.00871459695 400 L 263.0174291939 400 L 257.02614379085 400 L 251.0348583878 400 L 245.04357298475 400 L 239.0522875817 400 L 233.06100217865 400 L 227.0697167756 400 L 221.07843137255 400 L 215.0871459695 400 L 209.09586056645 400 L 203.1045751634 400 L 197.11328976035 400 L 191.1220043573 400 L 185.13071895425 400 L 179.1394335512 400 L 173.14814814815 400 L 167.1568627451 400 L 161.16557734205 400 L 155.174291939 400 L 149.18300653595 400 L 143.1917211329 400 L 137.20043572985 400 L 131.2091503268 400 L 125.21786492375 400 L 119.2265795207 400 L 113.23529411765 400 L 107.2440087146 400 L 101.25272331155 400 L 95.261437908497 400 L 89.270152505447 400 L 83.278867102397 400 L 77.287581699346 400 L 71.296296296296 400 L 65.305010893246 400 L 59.313725490196 400 L 53.322440087146 400 L 47.331154684096 400 L 41.339869281046 400 L 35.348583877996 400 L 29.357298474946 400 L 23.366013071895 400 L 17.374727668845 400 L 11.383442265795 400 Z" class="highcharts-area" data-z-index="0" aria-hidden="true"></path><path d="M 11.383442265795 95.66430194995002 L 17.374727668845 93.54032399746 L 23.366013071895 100.82253412029002 L 29.357298474946 102.94651207278002 L 35.348583877996 96.87800363708999 L 41.339869281046 103.85678833814 L 47.331154684096 102.01429778514 L 53.322440087146 98.39016002595002 L 59.313725490196 89.16952899241 L 65.305010893246 79.72328318612 L 71.296296296296 77.70705162638001 L 77.287581699346 77.49191993509999 L 83.278867102397 68.23238357704003 L 89.270152505447 60.89314842101999 L 95.261437908497 56.142089204499996 L 101.25272331155 55.54820680243 L 107.2440087146 57.32985400862998 L 113.23529411765 57.03291280758998 L 119.2265795207 49.09280224526998 L 125.21786492375 44.55614521299998 L 131.2091503268 50.32648613459003 L 137.20043572985 49.322656777220004 L 143.1917211329 47.49871453028999 L 149.18300653595 48.21127779577 L 155.174291939 46.57332206029997 L 161.16557734205 49.66460102056999 L 167.1568627451 54.72237867668002 L 173.14814814815 50.001786197650006 L 179.1394335512 49.32741584349998 L 185.13071895425 49.32741584349998 L 191.1220043573 54.72237867668002 L 197.11328976035 50.99014571676997 L 203.1045751634 54.133409373170025 L 209.09586056645 59.46215617668997 L 215.0871459695 56.31572453082998 L 221.07843137255 58.121845484979985 L 227.0697167756 55.26620699199998 L 233.06100217865 51.24739588750998 L 239.0522875817 56.44856462450002 L 245.04357298475 43.543586848969994 L 251.0348583878 35.870356820279994 L 257.02614379085 47.380201863319996 L 263.0174291939 37.26548955277002 L 269.00871459695 47.728985046440016 L 275 44.93871958146002 L 280.99128540305 44.24115321521998 L 286.9825708061 54.449797135860024 L 292.97385620915 47.936330378360026 L 298.9651416122 38.62285710000998 L 304.95642701525 44.65445229964001 L 310.9477124183 43.00377220441999 L 316.93899782135 37.53943815511002 L 322.9302832244 40.419460491960024 L 328.92156862745 47.73555786106999 L 334.9128540305 50.52025700841 L 340.90413943355 50.17216961499997 L 346.8954248366 53.30495615576001 L 352.88671023965 51.564519188669976 L 358.8779956427 58.52626705703 L 364.86928104575 51.54847311852001 L 370.8605664488 49.22995508590998 L 376.85185185185 59.099844512979985 L 382.8431372549 61.98124262144 L 388.83442265795 64.88403549010002 L 394.825708061 70.23413749278001 L 400.81699346405 83.26712270422001 L 406.8082788671 87.56583093990997 L 412.79956427015 84.06712803890002 L 418.7908496732 82.31777658840002 L 424.78213507625 83.36738745870002 L 430.7734204793 74.97050049628001 L 436.76470588235 74.27075991608001 L 442.7559912854 66.57361353386 L 448.74727668845 65.17413237344999 L 454.7385620915 62.72504034274999 L 460.72984749455 64.50288948545 L 466.7211328976 57.01456423599001 L 472.71241830065 56.395526631170014 L 478.7037037037 50.84382078289002 L 484.69498910675 46.74284335797 L 490.6862745098 48.060425154330005 L 496.67755991285 52.77421532579001 L 502.6688453159 43.32867551330003 L 508.66013071895 51.11059532028003 L 514.651416122 60.18950176176003 L 520.64270152505 67.3229282515 L 526.6339869281 72.51087478949 L 532.62527233115 73.15936810673003 L 538.6165577342 74.96259168724998" class="highcharts-graph" data-z-index="1" aria-hidden="false" role="region" tabindex="-1" aria-label="Hash, series 1 of 2 with 89 data points. Y axis, values."></path><path d="M 11.383442265795 95.66430194995002 L 17.374727668845 93.54032399746 L 23.366013071895 100.82253412029002 L 29.357298474946 102.94651207278002 L 35.348583877996 96.87800363708999 L 41.339869281046 103.85678833814 L 47.331154684096 102.01429778514 L 53.322440087146 98.39016002595002 L 59.313725490196 89.16952899241 L 65.305010893246 79.72328318612 L 71.296296296296 77.70705162638001 L 77.287581699346 77.49191993509999 L 83.278867102397 68.23238357704003 L 89.270152505447 60.89314842101999 L 95.261437908497 56.142089204499996 L 101.25272331155 55.54820680243 L 107.2440087146 57.32985400862998 L 113.23529411765 57.03291280758998 L 119.2265795207 49.09280224526998 L 125.21786492375 44.55614521299998 L 131.2091503268 50.32648613459003 L 137.20043572985 49.322656777220004 L 143.1917211329 47.49871453028999 L 149.18300653595 48.21127779577 L 155.174291939 46.57332206029997 L 161.16557734205 49.66460102056999 L 167.1568627451 54.72237867668002 L 173.14814814815 50.001786197650006 L 179.1394335512 49.32741584349998 L 185.13071895425 49.32741584349998 L 191.1220043573 54.72237867668002 L 197.11328976035 50.99014571676997 L 203.1045751634 54.133409373170025 L 209.09586056645 59.46215617668997 L 215.0871459695 56.31572453082998 L 221.07843137255 58.121845484979985 L 227.0697167756 55.26620699199998 L 233.06100217865 51.24739588750998 L 239.0522875817 56.44856462450002 L 245.04357298475 43.543586848969994 L 251.0348583878 35.870356820279994 L 257.02614379085 47.380201863319996 L 263.0174291939 37.26548955277002 L 269.00871459695 47.728985046440016 L 275 44.93871958146002 L 280.99128540305 44.24115321521998 L 286.9825708061 54.449797135860024 L 292.97385620915 47.936330378360026 L 298.9651416122 38.62285710000998 L 304.95642701525 44.65445229964001 L 310.9477124183 43.00377220441999 L 316.93899782135 37.53943815511002 L 322.9302832244 40.419460491960024 L 328.92156862745 47.73555786106999 L 334.9128540305 50.52025700841 L 340.90413943355 50.17216961499997 L 346.8954248366 53.30495615576001 L 352.88671023965 51.564519188669976 L 358.8779956427 58.52626705703 L 364.86928104575 51.54847311852001 L 370.8605664488 49.22995508590998 L 376.85185185185 59.099844512979985 L 382.8431372549 61.98124262144 L 388.83442265795 64.88403549010002 L 394.825708061 70.23413749278001 L 400.81699346405 83.26712270422001 L 406.8082788671 87.56583093990997 L 412.79956427015 84.06712803890002 L 418.7908496732 82.31777658840002 L 424.78213507625 83.36738745870002 L 430.7734204793 74.97050049628001 L 436.76470588235 74.27075991608001 L 442.7559912854 66.57361353386 L 448.74727668845 65.17413237344999 L 454.7385620915 62.72504034274999 L 460.72984749455 64.50288948545 L 466.7211328976 57.01456423599001 L 472.71241830065 56.395526631170014 L 478.7037037037 50.84382078289002 L 484.69498910675 46.74284335797 L 490.6862745098 48.060425154330005 L 496.67755991285 52.77421532579001 L 502.6688453159 43.32867551330003 L 508.66013071895 51.11059532028003 L 514.651416122 60.18950176176003 L 520.64270152505 67.3229282515 L 526.6339869281 72.51087478949 L 532.62527233115 73.15936810673003 L 538.6165577342 74.96259168724998" data-z-index="2" class="highcharts-tracker-line" aria-hidden="true"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-area-series highcharts-color-0 highcharts-tracker" data-z-index="0.1" transform="translate(0,0) scale(1 1)" clip-path="none" aria-hidden="true"><path d="M 11 95.66430194995002 A 0 0 0 1 1 11 95.66430194995002 Z" class="highcharts-halo highcharts-color-0" data-z-index="-1" visibility="hidden"></path><path d="M 11 101.66430194995002 A 6 6 0 1 1 11.005999999000004 101.66429894995026 Z" class="highcharts-point highcharts-color-0" visibility="hidden"></path></g><g class="highcharts-series highcharts-series-1 highcharts-area-series highcharts-color-1" data-z-index="0.1" transform="translate(0,0) scale(1 1)" clip-path="url(#highcharts-rjpuklr-189-)" aria-hidden="false"><path d="M 5.3921568627451 103.88224000000002 L 11.383442265795 89.46192000000002 L 17.374727668845 91.51071999999999 L 23.366013071895 97.09136000000001 L 29.357298474946 99.07664 L 35.348583877996 92.36383999999998 L 41.339869281046 94.32175999999998 L 47.331154684096 87.50864000000001 L 53.322440087146 86.41824000000003 L 59.313725490196 89.16480000000001 L 65.305010893246 90.96496000000002 L 71.296296296296 95.20447999999999 L 77.287581699346 85.87824 L 83.278867102397 74.524 L 89.270152505447 77.31536 L 95.261437908497 80.69616000000002 L 101.25272331155 87.28287999999998 L 107.2440087146 89.31632000000002 L 113.23529411765 88.92991999999998 L 119.2265795207 93.87968000000001 L 125.21786492375 95.20576 L 131.2091503268 93.50063999999998 L 137.20043572985 89.86671999999999 L 143.1917211329 93.04464000000002 L 149.18300653595 94.99040000000002 L 155.174291939 91.75152000000003 L 161.16557734205 87.21647999999999 L 167.1568627451 90.70816000000002 L 173.14814814815 93.9896 L 179.1394335512 95.25072 L 185.13071895425 93.25855999999999 L 191.1220043573 92.71280000000002 L 197.11328976035 86.94544000000002 L 203.1045751634 90.57760000000002 L 209.09586056645 78.37968000000001 L 215.0871459695 67.64224000000002 L 221.07843137255 75.38368000000003 L 227.0697167756 70.37392 L 233.06100217865 66.94144 L 239.0522875817 69.94400000000002 L 245.04357298475 72.01136000000002 L 251.0348583878 72.21983999999998 L 257.02614379085 77.53616 L 263.0174291939 76.66944000000001 L 269.00871459695 61.55311999999998 L 275 59.31727999999998 L 280.99128540305 65.27472 L 286.9825708061 70.42496 L 292.97385620915 103.35824000000002 L 298.9651416122 146.2888 L 304.95642701525 119.19632000000001 L 310.9477124183 128.15584 L 316.93899782135 131.57760000000002 L 322.9302832244 139.03519999999997 L 328.92156862745 134.59264000000002 L 334.9128540305 130.02303999999998 L 340.90413943355 133.40416 L 346.8954248366 133.08096 L 352.88671023965 133.06848000000002 L 358.8779956427 132.9952 L 364.86928104575 139.83344 L 370.8605664488 147.84624 L 376.85185185185 140.88400000000001 L 382.8431372549 134.29167999999999 L 388.83442265795 134.51728000000003 L 394.825708061 135.88096000000002 L 400.81699346405 136.74448 L 406.8082788671 137.27679999999998 L 412.79956427015 140.65663999999998 L 418.7908496732 137.07632 L 424.78213507625 125.27008000000001 L 430.7734204793 128.45488 L 436.76470588235 126.54032000000001 L 442.7559912854 129.69232 L 448.74727668845 126.11887999999999 L 454.7385620915 128.52767999999998 L 460.72984749455 126.63279999999997 L 466.7211328976 130.6232 L 472.71241830065 124.24671999999998 L 478.7037037037 125.94319999999999 L 484.69498910675 126.00016 L 490.6862745098 126.42223999999999 L 496.67755991285 124.69008000000002 L 502.6688453159 115.66352 L 508.66013071895 115.16095999999999 L 514.651416122 122.28048000000001 L 520.64270152505 133.79840000000002 L 526.6339869281 131.4624 L 532.62527233115 132.06416000000002 L 538.6165577342 136.96176000000003 L 544.60784313725 129.52576 L 544.60784313725 400 L 538.6165577342 400 L 532.62527233115 400 L 526.6339869281 400 L 520.64270152505 400 L 514.651416122 400 L 508.66013071895 400 L 502.6688453159 400 L 496.67755991285 400 L 490.6862745098 400 L 484.69498910675 400 L 478.7037037037 400 L 472.71241830065 400 L 466.7211328976 400 L 460.72984749455 400 L 454.7385620915 400 L 448.74727668845 400 L 442.7559912854 400 L 436.76470588235 400 L 430.7734204793 400 L 424.78213507625 400 L 418.7908496732 400 L 412.79956427015 400 L 406.8082788671 400 L 400.81699346405 400 L 394.825708061 400 L 388.83442265795 400 L 382.8431372549 400 L 376.85185185185 400 L 370.8605664488 400 L 364.86928104575 400 L 358.8779956427 400 L 352.88671023965 400 L 346.8954248366 400 L 340.90413943355 400 L 334.9128540305 400 L 328.92156862745 400 L 322.9302832244 400 L 316.93899782135 400 L 310.9477124183 400 L 304.95642701525 400 L 298.9651416122 400 L 292.97385620915 400 L 286.9825708061 400 L 280.99128540305 400 L 275 400 L 269.00871459695 400 L 263.0174291939 400 L 257.02614379085 400 L 251.0348583878 400 L 245.04357298475 400 L 239.0522875817 400 L 233.06100217865 400 L 227.0697167756 400 L 221.07843137255 400 L 215.0871459695 400 L 209.09586056645 400 L 203.1045751634 400 L 197.11328976035 400 L 191.1220043573 400 L 185.13071895425 400 L 179.1394335512 400 L 173.14814814815 400 L 167.1568627451 400 L 161.16557734205 400 L 155.174291939 400 L 149.18300653595 400 L 143.1917211329 400 L 137.20043572985 400 L 131.2091503268 400 L 125.21786492375 400 L 119.2265795207 400 L 113.23529411765 400 L 107.2440087146 400 L 101.25272331155 400 L 95.261437908497 400 L 89.270152505447 400 L 83.278867102397 400 L 77.287581699346 400 L 71.296296296296 400 L 65.305010893246 400 L 59.313725490196 400 L 53.322440087146 400 L 47.331154684096 400 L 41.339869281046 400 L 35.348583877996 400 L 29.357298474946 400 L 23.366013071895 400 L 17.374727668845 400 L 11.383442265795 400 L 5.3921568627451 400 Z" class="highcharts-area" data-z-index="0" aria-hidden="true"></path><path d="M 5.3921568627451 103.88224000000002 L 11.383442265795 89.46192000000002 L 17.374727668845 91.51071999999999 L 23.366013071895 97.09136000000001 L 29.357298474946 99.07664 L 35.348583877996 92.36383999999998 L 41.339869281046 94.32175999999998 L 47.331154684096 87.50864000000001 L 53.322440087146 86.41824000000003 L 59.313725490196 89.16480000000001 L 65.305010893246 90.96496000000002 L 71.296296296296 95.20447999999999 L 77.287581699346 85.87824 L 83.278867102397 74.524 L 89.270152505447 77.31536 L 95.261437908497 80.69616000000002 L 101.25272331155 87.28287999999998 L 107.2440087146 89.31632000000002 L 113.23529411765 88.92991999999998 L 119.2265795207 93.87968000000001 L 125.21786492375 95.20576 L 131.2091503268 93.50063999999998 L 137.20043572985 89.86671999999999 L 143.1917211329 93.04464000000002 L 149.18300653595 94.99040000000002 L 155.174291939 91.75152000000003 L 161.16557734205 87.21647999999999 L 167.1568627451 90.70816000000002 L 173.14814814815 93.9896 L 179.1394335512 95.25072 L 185.13071895425 93.25855999999999 L 191.1220043573 92.71280000000002 L 197.11328976035 86.94544000000002 L 203.1045751634 90.57760000000002 L 209.09586056645 78.37968000000001 L 215.0871459695 67.64224000000002 L 221.07843137255 75.38368000000003 L 227.0697167756 70.37392 L 233.06100217865 66.94144 L 239.0522875817 69.94400000000002 L 245.04357298475 72.01136000000002 L 251.0348583878 72.21983999999998 L 257.02614379085 77.53616 L 263.0174291939 76.66944000000001 L 269.00871459695 61.55311999999998 L 275 59.31727999999998 L 280.99128540305 65.27472 L 286.9825708061 70.42496 L 292.97385620915 103.35824000000002 L 298.9651416122 146.2888 L 304.95642701525 119.19632000000001 L 310.9477124183 128.15584 L 316.93899782135 131.57760000000002 L 322.9302832244 139.03519999999997 L 328.92156862745 134.59264000000002 L 334.9128540305 130.02303999999998 L 340.90413943355 133.40416 L 346.8954248366 133.08096 L 352.88671023965 133.06848000000002 L 358.8779956427 132.9952 L 364.86928104575 139.83344 L 370.8605664488 147.84624 L 376.85185185185 140.88400000000001 L 382.8431372549 134.29167999999999 L 388.83442265795 134.51728000000003 L 394.825708061 135.88096000000002 L 400.81699346405 136.74448 L 406.8082788671 137.27679999999998 L 412.79956427015 140.65663999999998 L 418.7908496732 137.07632 L 424.78213507625 125.27008000000001 L 430.7734204793 128.45488 L 436.76470588235 126.54032000000001 L 442.7559912854 129.69232 L 448.74727668845 126.11887999999999 L 454.7385620915 128.52767999999998 L 460.72984749455 126.63279999999997 L 466.7211328976 130.6232 L 472.71241830065 124.24671999999998 L 478.7037037037 125.94319999999999 L 484.69498910675 126.00016 L 490.6862745098 126.42223999999999 L 496.67755991285 124.69008000000002 L 502.6688453159 115.66352 L 508.66013071895 115.16095999999999 L 514.651416122 122.28048000000001 L 520.64270152505 133.79840000000002 L 526.6339869281 131.4624 L 532.62527233115 132.06416000000002 L 538.6165577342 136.96176000000003 L 544.60784313725 129.52576" class="highcharts-graph" data-z-index="1" aria-hidden="false" role="region" tabindex="-1" aria-label="Market Price, series 2 of 2 with 91 data points. Y axis, values."></path><path d="M 5.3921568627451 103.88224000000002 L 11.383442265795 89.46192000000002 L 17.374727668845 91.51071999999999 L 23.366013071895 97.09136000000001 L 29.357298474946 99.07664 L 35.348583877996 92.36383999999998 L 41.339869281046 94.32175999999998 L 47.331154684096 87.50864000000001 L 53.322440087146 86.41824000000003 L 59.313725490196 89.16480000000001 L 65.305010893246 90.96496000000002 L 71.296296296296 95.20447999999999 L 77.287581699346 85.87824 L 83.278867102397 74.524 L 89.270152505447 77.31536 L 95.261437908497 80.69616000000002 L 101.25272331155 87.28287999999998 L 107.2440087146 89.31632000000002 L 113.23529411765 88.92991999999998 L 119.2265795207 93.87968000000001 L 125.21786492375 95.20576 L 131.2091503268 93.50063999999998 L 137.20043572985 89.86671999999999 L 143.1917211329 93.04464000000002 L 149.18300653595 94.99040000000002 L 155.174291939 91.75152000000003 L 161.16557734205 87.21647999999999 L 167.1568627451 90.70816000000002 L 173.14814814815 93.9896 L 179.1394335512 95.25072 L 185.13071895425 93.25855999999999 L 191.1220043573 92.71280000000002 L 197.11328976035 86.94544000000002 L 203.1045751634 90.57760000000002 L 209.09586056645 78.37968000000001 L 215.0871459695 67.64224000000002 L 221.07843137255 75.38368000000003 L 227.0697167756 70.37392 L 233.06100217865 66.94144 L 239.0522875817 69.94400000000002 L 245.04357298475 72.01136000000002 L 251.0348583878 72.21983999999998 L 257.02614379085 77.53616 L 263.0174291939 76.66944000000001 L 269.00871459695 61.55311999999998 L 275 59.31727999999998 L 280.99128540305 65.27472 L 286.9825708061 70.42496 L 292.97385620915 103.35824000000002 L 298.9651416122 146.2888 L 304.95642701525 119.19632000000001 L 310.9477124183 128.15584 L 316.93899782135 131.57760000000002 L 322.9302832244 139.03519999999997 L 328.92156862745 134.59264000000002 L 334.9128540305 130.02303999999998 L 340.90413943355 133.40416 L 346.8954248366 133.08096 L 352.88671023965 133.06848000000002 L 358.8779956427 132.9952 L 364.86928104575 139.83344 L 370.8605664488 147.84624 L 376.85185185185 140.88400000000001 L 382.8431372549 134.29167999999999 L 388.83442265795 134.51728000000003 L 394.825708061 135.88096000000002 L 400.81699346405 136.74448 L 406.8082788671 137.27679999999998 L 412.79956427015 140.65663999999998 L 418.7908496732 137.07632 L 424.78213507625 125.27008000000001 L 430.7734204793 128.45488 L 436.76470588235 126.54032000000001 L 442.7559912854 129.69232 L 448.74727668845 126.11887999999999 L 454.7385620915 128.52767999999998 L 460.72984749455 126.63279999999997 L 466.7211328976 130.6232 L 472.71241830065 124.24671999999998 L 478.7037037037 125.94319999999999 L 484.69498910675 126.00016 L 490.6862745098 126.42223999999999 L 496.67755991285 124.69008000000002 L 502.6688453159 115.66352 L 508.66013071895 115.16095999999999 L 514.651416122 122.28048000000001 L 520.64270152505 133.79840000000002 L 526.6339869281 131.4624 L 532.62527233115 132.06416000000002 L 538.6165577342 136.96176000000003 L 544.60784313725 129.52576" data-z-index="2" class="highcharts-tracker-line" aria-hidden="true"></path></g><g class="highcharts-markers highcharts-series-1 highcharts-area-series highcharts-color-1 highcharts-tracker" data-z-index="0.1" transform="translate(0,0) scale(1 1)" clip-path="none" aria-hidden="true"><path d="M 11 89.46192000000002 A 0 0 0 1 1 11 89.46192000000002 Z" class="highcharts-halo highcharts-color-1" data-z-index="-1" visibility="hidden"></path><path d="M 11 95.46192000000002 A 6 6 0 1 1 11.005999999000004 95.46191700000027 Z" class="highcharts-point highcharts-color-1" visibility="hidden"></path></g></g><g class="highcharts-exporting-group" data-z-index="3" aria-hidden="true"><g class="highcharts-no-tooltip highcharts-button highcharts-contextbutton" transform="translate(516,10)"><title>Chart context menu</title><rect class="highcharts-button-box" x="0.5" y="0.5" width="24" height="22" rx="2" ry="2" fill="#505053"></rect><path d="M 6 6.5 L 20 6.5 M 6 11.5 L 20 11.5 M 6 16.5 L 20 16.5" class="highcharts-button-symbol" data-z-index="1"></path><text x="0" data-z-index="1" y="16.5"></text></g></g><text x="270" text-anchor="middle" class="highcharts-title" data-z-index="4" y="25" aria-hidden="true"></text><text x="0" text-anchor="start" class="highcharts-caption" data-z-index="4" y="400" aria-hidden="true"></text><text x="270" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" y="27" aria-hidden="true"></text><g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7" aria-hidden="true"><text x="71.296296296296" text-anchor="middle" transform="translate(0,0)" y="422" opacity="1">3. Oct</text><text x="155.174291939" text-anchor="middle" transform="translate(0,0)" y="422" opacity="1">17. Oct</text><text x="239.0522875817" text-anchor="middle" transform="translate(0,0)" y="422" opacity="1">31. Oct</text><text x="322.9302832244" text-anchor="middle" transform="translate(0,0)" y="422" opacity="1">14. Nov</text><text x="406.8082788671" text-anchor="middle" transform="translate(0,0)" y="422" opacity="1">28. Nov</text><text x="490.6862745098" text-anchor="middle" transform="translate(0,0)" y="422" opacity="1">12. Dec</text></g><g class="highcharts-legend highcharts-no-tooltip" data-z-index="7" transform="translate(160,30)" aria-hidden="true"><rect class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="230" height="28"></rect><g data-z-index="1"><g><g class="highcharts-legend-item highcharts-area-series highcharts-color-0 highcharts-series-0" data-z-index="1" transform="translate(8,3)"><text x="21" text-anchor="start" data-z-index="2" y="17">Hash</text><rect x="1" y="4" width="14" height="14" rx="7" ry="7" class="highcharts-point" data-z-index="3"></rect></g><g class="highcharts-legend-item highcharts-area-series highcharts-color-1 highcharts-series-1" data-z-index="1" transform="translate(91.33801651000977,3)"><text x="21" y="17" text-anchor="start" data-z-index="2">Market Price</text><rect x="1" y="4" width="14" height="14" rx="7" ry="7" class="highcharts-point" data-z-index="3"></rect></g></g></g></g><g class="highcharts-label highcharts-tooltip highcharts-color-0" filter="url(#drop-shadow-0)" data-z-index="8" transform="translate(27,56)" opacity="0" aria-hidden="true" visibility="hidden"><path class="highcharts-label-box highcharts-tooltip-box" d="M 3 0 L 357 0 C 360 0 360 0 360 3 L 360 77 C 360 80 360 80 357 80 L 3 80 C 0 80 0 80 0 77 L 0 3 C 0 0 0 0 3 0"></path><text x="8" data-z-index="1" y="22"><tspan class="highcharts-header">Friday, Sep 23, 2022</tspan><tspan class="highcharts-br" dy="22" x="8">​</tspan><tspan class="highcharts-color-0  ">●</tspan> Hash: <tspan class="highcharts-strong">228,251,773.53753605 TH/s</tspan><tspan class="highcharts-br" dy="22" x="8">​</tspan><tspan class="highcharts-color-1  ">●</tspan> Market Price: <tspan class="highcharts-strong">$19,408.63</tspan><tspan class="highcharts-br">​</tspan></text></g></svg><div aria-hidden="false" class="highcharts-a11y-proxy-container-after" style="top: 0px; left: 0px;"><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-zoom"></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-legend" aria-label="Toggle series visibility, Chart" role="region"><ul role="list"><li><button class="highcharts-a11y-proxy-button" aria-label="Show Hash" tabindex="-1" aria-pressed="true" style="width: 61.7713px; height: 18px; left: 167px; top: 87px;"></button></li><li><button class="highcharts-a11y-proxy-button" aria-label="Show Market Price" tabindex="-1" aria-pressed="true" style="width: 129.318px; height: 18px; left: 250px; top: 87px;"></button></li></ul></div><div class="highcharts-a11y-proxy-group highcharts-a11y-proxy-group-chartMenu"><button class="highcharts-a11y-proxy-button highcharts-no-tooltip" aria-label="View chart menu, Chart" aria-expanded="false" title="Chart context menu" style="width: 49.5454px; height: 49.5455px; left: 495px; top: 10px;"></button></div></div></div><div id="highcharts-screen-reader-region-after-0" aria-hidden="false" style="position: relative;"><div class="highcharts-visually-hidden" aria-hidden="false"><div id="highcharts-end-of-chart-marker-0" class="highcharts-exit-anchor" tabindex="0" aria-hidden="false">End of interactive chart.</div></div></div></div>
						</div>
						<div class="c-50">
							<div class="pool-urls">
								<div class="title">Bitcoin Mining Pool URLS</div>
                                
								<div class="url"><input type="text" value="-"><button onclick="copyThis( '-' )"><span class="icon smaller white copy"></span></button></div>
								<div class="url"><input type="text" value="-"><button onclick="copyThis( '-' )"><span class="icon smaller white copy"></span></button></div>
								<div class="url"><input type="text" value="-"><button onclick="copyThis( '-' )"><span class="icon smaller white copy"></span></button></div>
								<div class="url"><input type="text" value="-"><button onclick="copyThis( '-' )"><span class="icon smaller white copy"></span></button></div>
							</div>
							<div class="est-daily-rev">
								<div class="title">Estimated Daily Revenue</div>
								<div class="calc"><input min="1" maxlength="1000000000" id="th_calc" type="number" value="1"> <span>TH/S</span><span>≈</span><span id="btc_rev_th">0.00006154 BTC</span><span>≈</span><span id="btc_rev_th_usd">$1.0319</span></div>
							</div>
							<div class="row">
								<div class="item">
									<div class="title">Difficulty</div>
									<div class="value" id="difficulty">35.36 T</div>
								</div>
								<div class="item">
									<div class="title">Next Difficulty Change Estimate</div>
									<div class="value" id="next_difficulty">35.81 T <span class="negative">(+1.25%)</span></div>
								</div>
								<div class="item">
									<div class="title">Time Until Difficulty Change</div>
									<div class="value" id="next_difficulty_time">11 days and 14 hours</div>
								</div>
							</div>
							<div class="row">
								<div class="item">
									<div class="title">Payout</div>
									<div class="value">2% PPS+</div>
								</div>
								<div class="item">
									<div class="title">Payout Threshold</div>
									<div class="value">0.005 / 0.01 / 0.05 / 1 / 5 BTC</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<div class="chart-c hi">
		<div class="title">
			<strong class="txt-hl">Kygo</strong> Pool Hashrate Growth Rate<br />
			<span class="txt-m">last 30 days</span>
		</div>
		<div id="hash-difficulty-market"></div>
	</div>

	<div class="hs-00"></div>

	<div class="mc">
    	<div class="tree-counter-c">

    		<div class="stripes-c">
    			<div class="stripe" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000"></div>
    			<div class="stripe" data-aos="fade-up" data-aos-delay="700" data-aos-duration="1000"></div>
    			<div class="stripe" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1000"></div>
    			<div class="stripe" data-aos="fade-up" data-aos-delay="1700" data-aos-duration="1000"></div>
    		</div>

    		<div class="title"><strong class="txt-grad">Reduce your carbon footprint</strong> by joining <strong>Kygo</strong> Pool</div>
    		<p>
				Kygo Pool is on a <strong>mission to reduce crypto mining’s carbon footprint</strong> to create a more sustainable and eco-friendly industry. Join our crypto mining pool today and a portion of your pool <strong>fees will be directed towards planting trees</strong>, thereby creating a yearly offset in CO<sub>2</sub> emissions, <strong>transforming Kygo Pool into the most ecological Crypto Mining Pool in the world.</strong>
			</p>
			<div class="hs-l"></div>
    		<div class="counters-c">
    			<div class="c-50">
	    			<div class="title">Trees planted by <strong>Kygo</strong> Pool</div>
	    			<div class="value" id="tree_amount">104,416</div>
    			</div>
    			<img src="/img/amine-planting-trees-200.gif" class="lazyload">
    			<div class="c-50">
	    			<div class="title">Estimated yearly offset of</div>
	    			<div class="value"><span id="carbon-offset"></span><span class="txt-l">2,781 T</span><strong class="txt-b">C0<sub>2</sub></strong></div>
    			</div>
    		</div>

    		<div class="ecologi-c">
    			<a href="https://ecologi.com/pegapool" target="_blank">Verify stats on <img src="/img/ecologi.png">.com</a>
    		</div>

    		<div class="info-c">
    			<div class="anime-c">
    				<img src="/img/anime-renewable.gif" class="lazyload">
    			</div>
    			<div class="title">Already mining using <strong class="txt-grad">green energy?</strong></div>
    			<div class="txt">If you are <strong>mining crypto with renewable energy</strong>, then you’re already playing your part in leaving a cleaner, greener world behind for the unborn generations of tomorrow. And for that, we thank you! <strong>Good deeds don’t go unrewarded, so enjoy a 50% reduction in your mining pool fees</strong> by <a href="contact-us/index.html" class="g-link inline">contacting our team today</a>.</div>				
    		</div>
    	</div>

	</div>

	</section>

	<div class="hs-100"></div>

	<section id="MAP">
		<div class="mc">
			<div class="title">Institutional Infrastructure <strong class="txt-grad">at your fingertips</strong></div>
			<div class="hs-20"></div>
			<p>
				Our reliable <strong>Crypto Mining Pool infrastructure</strong> has been architected to be <strong>highly resilient</strong> to equipment failures and outages. With mining pool infrastructure placed strategically in core regions across the globe, we have mitigated the risk of traditional equipment outages as well as those caused by natural disasters, ensuring <strong>solid uptime and availability</strong> for our mining pool. These same core regions ensure <strong>low latency connections</strong>, enabling crypto miners to meet job deadlines and experience lower rejection rates while <strong>increasing profits no matter where they are located</strong>.
			</p>
			<div class="hs-20"></div>
			<div class="lbl">
      	<div class="locations"><span></span> Crypto Mining Pool Stratum Servers</div>
      	<div class="coming-soon hi"><span></span> Coming Soon</div>
      </div>
		<div class="map-c">
		<picture>
          <source srcset="/img/map.webp" type="image/webp">
          <source srcset="/img/map.png" type="image/png">
          <img data-src="/img/map.png" alt="Kygo Pool"class="lazyload map"data-aos-offset="-100" data-aos="zoom-in" data-aos-delay="200" data-aos-duration="1000">
        </picture>
        <div class="coming-soon-c hi" data-aos-offset="-100" class="lazyload coming-soon" data-aos="zoom-out" data-aos-delay="600" data-aos-duration="2000">
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        </div>
        <div class="locations-c" data-aos-offset="200" data-aos="zoom-out" data-aos-delay="400" data-aos-duration="1500">
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl">Oregon</span></span>
        	<span class="pin"><span class="lbl">United States West</span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl">United States East</span></span>
        	<span class="pin"><span class="lbl">Northern Virginia</span></span>
        	<span class="pin"><span class="lbl">Canda</span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl">Spain</span></span>
        	<span class="pin"><span class="lbl">London</span></span>
        	<span class="pin"><span class="lbl">Paris</span></span>
        	<span class="pin"><span class="lbl">Frankfurt</span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl">Singapore</span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl">Hong Kong</span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl"></span></span>
        	<span class="pin"><span class="lbl">Tokyo</span></span>
        	<span class="pin"><span class="lbl"></span></span>
        </div>
			</div>
		</div>
		
	</section>
  
  <div class="hs-100"></div>	

	<section>

		<div class="mc">

			<div class="hilights-c">

    		<div class="title">About <strong class="txt-grad">Kygo Pool</strong></div>
    		
    		<div class="ic">
    			
    			<div class="c-33">
    				<div class="title">
    					<div class="anime-c">
    						<img src="/img/anime-built-by-miners.gif" class="lazyload">
    					</div>
    					Built<br /><strong>by Miners</strong>
    				</div>
    				<div class="txt">
    					Created and operated by miners like you, Kygo Pool is the <strong id="rank-btc">13</strong><sup>th</sup> largest Crypto mining pool in the world for good reason. With years of hands-on crypto mining experience, we know what it takes to build a successful crypto mining pool that you will love.
    				</div>
    				<div class="number">01</div>
    			</div>
				
					<div class="c-33">
	    			<div class="title">
	  					<div class="anime-c">
	  						<img src="/img/anime-vision.gif" class="lazyload">
	  					</div>
	  					Our<br /><strong>Vision</strong>
	  				</div>
	  				<div class="txt">
	  					Priority number one is to keep on mining, without wreaking havoc on the environment. Aside from reducing the industry's crypto mining carbon footprint, we want to empower miners to earn bigger shared pay-outs from their eco-friendly crypto mining efforts.
	  				</div>
	  				<div class="number">02</div>
	  			</div>
					<div class="c-33">
	  				<div class="title">
	  					<div class="anime-c">
	  						<img src="/img/anime-british.gif" class="lazyload">
	  					</div>
	  					British<br /><strong>Owned</strong>
	  				</div>
	  				<div class="txt">
	  					Kygo Pool, in direct operation with Kygo Mining, is proudly owned and operated within the United Kingdom. While our team consists of some of the top talent and financial minds from around the globe, our roots are, and always will be, within the U.K.
	  				</div>
	  				<div class="number">03</div>
	  			</div>

  			</div>

  		</div>

		</div>
	
	</section>

	<section id="TIMELINE" style="margin-top: 20px;">
		<div class="mc">
			<div class="title"><strong>Kygo</strong> Mining journey to date</div>
			<div class="tl-c">
				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">December</span>
						<br />
						<span class="year">2020</span>
					</div>
					<div class="icon-c " ><div class="icon small flag"></div></div>
					<div class="txt-c">
						<div class="title greencolor">The Beginning</div>
						<div class="txt">
							It dawned on us that the crypto mining industry would lead the planet to ruin if left to its current devices. And so, we established our goal: To create the world’s largest green crypto mining company committed to using purely renewable energy sources. The Kygo journey had begun.
						</div>
					</div>
				</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">February</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c "><div class="icon small building"></div></div>
					<div class="txt-c">
						<div class="title greencolor">Company Formation</div>
						<div class="txt">
							Kygo Mining Ltd was officially registered in the UK, set to serve the world from its headquarters in Dorset.
						</div>
					</div>
				</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">March</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c "><div class="icon small pickaxe"></div></div>
					<div class="txt-c">
						<div class="title greencolor">Bitcoin Miners Ordered</div>
						<div class="txt">
							Antminer S19's ordered directly with Bitmain, monthly deliveries scheduled until October 2022.
						</div>
					</div>
				</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">April</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c "><div class="icon small location"></div></div>
					<div class="txt-c">
						<div class="title greencolor">New Colocation Hosting <span class="txt-l">- AtNorth</span></div>
						<div class="txt">
							We signed a colocation hosting agreement to host a portion of our bitcoin miners with a third-party data centre, AtNorth, in Iceland. This nation is committed to 100% green, sustainable energy – a region recognized for its ideal weather conditions for data centres.
						</div>
					</div>
				</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">April</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small location"></div></div>
						<div class="txt-c">
							<div class="title greencolor">We're officially mining</div>
							<div class="txt">
								Our first Antminer S19's are online and we are officially bitcoin mining.
							</div>
						</div>
					</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">May</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c"><div class="icon small location"></div></div>
					<div class="txt-c">
						<div class="title greencolor">New Colocation Hosting <span class="txt-l">- Etix</span></div>
						<div class="txt">
							We signed a colocation hosting agreement to host a portion of our bitcoin miners with a third-party data centre, ETIX Everywhere Borealis, also in Iceland.
						</div>
					</div>
				</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">May</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c"><div class="icon small location"></div></div>
					<div class="txt-c">
						<div class="title greencolor">New Colocation Hosting <span class="txt-l">- HydroKraft</span></div>
						<div class="txt">
							We signed a colocation hosting agreement to host a portion of our bitcoin miners with a third-party data centre, HydroKraft, in Norway. Norway offers the ideal, cold climate for efficient green data centres.
						</div>
					</div>
				</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">June</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small pickaxe"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								1,000 bitcoin miners live.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">June</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small btc"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								100 BTC mined to date using only renewable energy sources.
							</div>
						</div>
					</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">August</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c"><div class="icon small bolt"></div></div>
					<div class="txt-c">
						<div class="title greencolor">Additional Power With <span class="txt-l">AtNorth</span></div>
						<div class="txt">
							We signed an additional colocation hosting agreement with AtNorth in Iceland to further increase our mining capacity.
						</div>
					</div>
				</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">August</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small pickaxe"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								2,500 bitcoin miners live.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">September</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small btc"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								250 BTC mined to date using only renewable energy sources.
							</div>
						</div>
					</div>

				<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
					<div class="date">
						<span class="month">September</span>
						<br />
						<span class="year">2021</span>
					</div>
					<div class="icon-c"><div class="icon small location"></div></div>
					<div class="txt-c">
						<div class="title greencolor">New Colocation Hosting<span class="txt-l"> - Balooba</span></div>
						<div class="txt">
							We signed a colocation hosting agreement to host a portion of our bitcoin miners with a third-party data centre, Balooba, in Sweden. Sweden offers the ideal, cold climate for efficient green data centres.
						</div>
					</div>
				</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">September</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small pickaxe"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								5,000 bitcoin miners live.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">October</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small pickaxe"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								10,000 bitcoin miners live.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">November</span>
							<br />
							<span class="year">2021</span>
						</div>
						<div class="icon-c"><div class="icon small btc"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								500 BTC mined to date using only renewable energy sources.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">January</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small btc"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								1,000 BTC mined to date using only renewable energy sources.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">April</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small pickaxe"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								15,000 bitcoin miners live.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">JULY</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small btc"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								2,000 BTC mined to date using only renewable energy sources.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">August</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small pickaxe"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								20,000 bitcoin miners live.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">September</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small bolt"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Additional Power With <span class="txt-l">ETIX</span></div>
							<div class="txt">
								We secured an additional 10MW of power with ETIX, in Iceland, almost tripling the operations we currently hold at this location.
							</div>
						</div>
					</div>

					<div class="item small" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">September</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small btc"></div></div>
						<div class="txt-c">
							<div class="title greencolor">Milestone</div>
							<div class="txt">
								3,000 BTC mined to date using only renewable energy sources.
							</div>
						</div>
					</div>

					<!-- <div class="item" data-aos="fade-up" data-aos-delay="400" data-aos-duration="400">
						<div class="date">
							<span class="month">November</span>
							<br />
							<span class="year">2022</span>
						</div>
						<div class="icon-c"><div class="icon small pool"></div></div>
						<div class="txt-c">
							<div class="title">Kygo <span class="txt-l">mining moves to</span> Kygo <span class="txt-l">Pool</span></div>
							<div class="txt">
								We moved our mining operations from F2Pool to <strong>Kygo</strong> Pool. <strong>Kygo</strong> Pool is on a mission to reduce bitcoin mining’s carbon footprint to create a more sustainable and eco-friendly industry.
							</div>
						</div>
					</div> -->



			</div>
		</div>
	</section>

	<section class="booth-c">
		<div class="ic">
			<div class="top">
				<picture>
		            <source srcset="/img/mining-disrupt-logo.webp" type="image/webp">
		            <source srcset="/img/mining-disrupt-logo.png" type="image/png">
		            <img data-src="/img/mining-disrupt-logo.png" alt="MINING DISRUPT" alt="MINING DISRUPT" class="booth-logo">
		        </picture>
		        <picture>
		            <source srcset="/img/mining-disrupt-date.webp" type="image/webp">
		            <source srcset="/img/mining-disrupt-date.png" type="image/png">
		            <img data-src="/img/mining-disrupt-date.png" alt="25th to 27th July 2023" alt="25th to 27th July 2023" class="booth-date">
		        </picture>
			</div>
			<div class="hs-40 hidde-mob"></div>
			<div class="hs-20 hidde-desk"></div>
			<div class="bottom">
				Come and meet the team <strong>in <span>booth 99</span></strong>
			</div>
		</div>
	</section>

	<div id="GLOWS">
		<div class="mc"></div>
	</div>

	<div class="hs-40"></div>

	<!-- <section id="NETWORK">
		<div class="mc c-flex">
			
			<div class="c-100">
				<div class="title">The <strong>Kygo</strong> Network</div>
			</div>

			<div class="ic">

				<div class="item">
		      		<picture>
			            <source srcset="/img/pega-pool.webp" type="image/webp">
			            <source srcset="/img/pega-pool.png" type="image/png">
		              	<img data-src="/img/pega-pool.png" alt="Kygo Pool" class="lazyload logo">
			        </picture>
		      		<div class="txt">
		      			On a mission to reduce Crypto mining’s carbon footprint and create a more sustainable crypto sector for all.
		      		</div>
		      		<div class="link-c"><a href="/" target="_blank">KygoPool.com</a></div>
		      	</div>

		      	<div class="item">
					<picture>
			        	<source srcset="/img/pega-mining.webp" type="image/webp">
			        	<source srcset="/img/pega-mining.png" type="image/png">
			        	<img data-src="/img/pega-mining.png" alt="Kygo Mining" class="lazyload logo">
			        </picture>
					<div class="txt">
						Set to become the biggest Crypto mining operator on the face of the Earth, spearheading the movement to mine crypto with renewable energy.
					</div>
					<div class="link-c"><a href="https://www.pega-mining.co.uk/" target="_blank">PEGA-Mining.co.uk</a></div>
				</div>

		      	<div class="item">
		      		<picture>
			            <source srcset="/img/pega-hosting.webp" type="image/webp">
			            <source srcset="/img/pega-hosting.png" type="image/png">
		            	<img data-src="/img/pega-hosting.png" alt="Kygo Hosting" class="lazyload logo">
		            </picture>
		      		<div class="txt">
		      			Enter the crypto mining industry with ease and buy hashrate or ASICs via our self-service portal.
		      		</div>
		      		<div class="link-c"><a href="https://www.pega-hosting.com/" target="_blank">PEGA-Hosting.com</a></div>
		      	</div>

		      	<div class="item" href="https://www.pega-blocks.com/">
		      		<picture>
			            <source srcset="/img/pega-blocks.webp" type="image/webp">
			            <source srcset="/img/pega-blocks.png" type="image/png">
			            <img data-src="/img/pega-blocks.png" alt="Kygo Pool" class="lazyload logo">
		            </picture>
		      		<div class="txt">
		      			View LIVE crypto mining insights and blockchain stats at a glance, wherever you are.
		      		</div>
		      		<div class="link-c"><a href="https://www.pega-blocks.com/" target="_blank">PEGA-Blocks.com</a></div>
				</div>

			</div>

		</div>
	</section> -->

	<div class="hs-100"></div>

	<%- partial('./partials/footer')%>