<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/stylesheets/user/changepassword.css">
</head>
<body>
    <%- partial('../partials/userdashboardnav')%>
    

    <div class="contentbox">
        <div id="div1">
            <div id="div1box">
                <i class="fa-solid fa-money-bill-transfer mainicon"></i>
                 <div id="div1boxinner">
                    <p>Change Password</p>
                    <span> 
                        <a href="/dashboard"><i class="fas fa-project-diagram"></i></a> <span class="dashspan">/</span> <a href="">Change Password</a> 
                    </span>
                </div>
            </div>
        </div>

        <div class="flashbox">
            <% if(success && success.length) { %>
                   <div class="flashboxsuccess-alert">
                       <%= success %> 
                       <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
               <% } %> 
           
               <% if(error && error.length) { %>
                       <div class="flashboxerror-alert">
                           <%= error %> 
                           <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                           
                       </div>
               <% } %> 
               
        </div>

        <div id="div2">
            <div id="div2box">
                <p>Change Password</p>
                
                <form action="/<%= user.id %>/changepassword?_method=PUT" method="post" id="changepasswordform">
                    <div class="formgroup">
                        <span>Current Password</span>
                        <input type="password" name="currentpassword" placeholder="Current Password" required>
                    </div>
                    <div class="formgroup">
                        <span>New Password</span>
                        <input type="password" name="password" placeholder="New Password" required>
                    </div>
                    <div class="formgroup">
                        <span>Confirm New Password</span>
                        <input type="password" name="confirmpassword" placeholder="Confirm New Password" required>
                    </div>

                   <button type="submit" class="btn btn-primary mt-3">Save Changes</button>
                </form>

            </div>
        </div>

    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>