<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kygofinance || Password Reset</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
        </style>
    <link rel="stylesheet" href="/stylesheets/passwordreset.css">
</head>
<body>
    <div id="div1">
        <%- partial('./partials/flash')%>
        <div id="div1box">
            <p>Reset Password</p>
            <p>Enter your new password</p>
            <form action="/password-reset/<%=user.id%>/<%=tok.token%>" method="post" id="registerform">
                  <input type="password" name="password" placeholder="New Password"  class="forminput" required min="8">
                  <input type="password" name="confirmpassword" placeholder="Confirm Password" class="forminput" required min="8">
                  <button type="submit" id="submitbutton">Reset</button>
            </form>
        </div>
    </div>
    
</body>
</html>