<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support</title>
    <link rel="stylesheet" href="/stylesheets/user/affiliate.css">
</head>
<body>
    <%- include('../partials/userdashboardnav')%>

    <div class="contentbox">
        <%- partial('../partials/flash')%>
        <div id="div1">
            <div id="div1box">
                <i class="fa-solid fa-money-bill-transfer mainicon"></i>
                 <div id="div1boxinner">
                    <p>Support</p>
                    <span> 
                        <a href="/dashboard"><i class="fas fa-project-diagram"></i></a> <span class="dashspan">/</span> <a href="">Support</a> 
                    </span>
                </div>
            </div>
        </div>

        <div id="div2" style="margin-bottom:40px ;">
            <div id="div2box">
                <p>Need Help?</p>
                <div class="div2boxinner">
                    <span>You can reach us in any of the emails below
                        <ul>
                            <li>
                                support@rarityx.io  | If you need help sorting an issue out.
                            </li>
                            <li>
                                info@rarityx.io  | If you want to get any information concerning our platform.
                            </li>
                        </ul>
                    <br> You can also click on any of the widget below to either reach us on whatsapp or start a livechat with one of our customer care official.
                    </span>
                </div>
            </div>
        </div>

        <%- partial('./partials/whatsappwidget')%>
        <%- partial('./partials/livechatwidget')%>

       
    
    </div>
    

    <script src="/script/app.js"></script>
</body>
</html>